#section-cards {
    color: grey;
}

#main-galeria a {
    background-color: rgb(230, 210, 210);
    border: 3px solid black
    transition 0,3s;

}

.c-gris {
    color: grey
}

#main-galeria a:hover {
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    justify-content: center;
}
