form {
    width: 25%;
    border: 2px solid rgb(21, 19, 19);
    border-radius: 10px;
    box-shadow: 50px;
    margin: 20px;
    padding: 20px;
}

label {
    color: grey;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    display: block;
    width: 100%;
}

input,
textarea {
    color: grey;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid color gray;
}

input:focus {

    border: 2px solid blue;
}
