$color-principal: grey;
$color-secundario: whitesmoke;
$color-terciario:  black;



.titulos {
    color: $color-principal;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    line-height: 3rem;
    color: $color-principal;

}
.titulos--galeria {
    @extend.titulos;

    color: $color-terciario;
    font-size: 50px;
    


}


